<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="@mangopdf">

    <title>{{ page.title | default: "Purplecon" }}</title>
    <meta name="description" content="{{ page.descrption | default: "site.con_description_short;" }}">

    <meta property="og:title" content="{{ page.title | default: "Purplecon" }}">
    <meta property="og:description" content="{{ page.description | default: "site.con_description_short;" }}">
    <meta property="og:image" content="{{ page.image| default: "site.logo_url" }}">
    <meta property="og:url" content="https://purplecon.nz{{ page.url }}">

    <meta name="twitter:title" content="{{ page.title | default: "Purplecon" }}">
    <meta name="twitter:description" content="{{ page.description| default: "site.con_description_short;" }}">
    <meta name="twitter:image" content="{{ page.image| default: "site.logo_url" }}">
    <meta name="twitter:card" content="summary_large_image">

    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <link href="{{ "vendor/font-awesome/css/font-awesome.min.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="{{ "css/freelancer.min.css" | relative_url }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>


    <!-- NSA tracking-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39885839-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-39885839-9');
    </script>

</head>

  <body>

    <header class="masthead">
      <div class="container">
          <div class="settings">
              <form action="#">
                  <label for="hardmode">
                  <input id="hardmode" type="checkbox"/>
                  hard mode</label>
              </form>
          </div>
          <div class="intro-text">
              <div class="logo">
              <span class="star-inline star-primary star-purple"></span>
              <a href="/">
                  <h2 class="logo">Purplecon</h2>
              </a>
              <span class="star-inline star-primary star-purple"></span>
          </div>
            <p class="intro" id="intro"class="scrollspy">Subtitle? Nah.</a></p>
      </div>

    </header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>




    <script src="{{ "vendor/jquery/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/popper/popper.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>

    <script src="{{ "vendor/jquery-easing/jquery.easing.min.js" | relative_url }}"></script>

    <script type="text/javascript" src="{{ "https://unpkg.com/onscreen/dist/on-screen.umd.min.js" | relative_url }}"></script>
    <script src="{{ "js/emojicursor.js" | relative_url }}"></script>
    <script src="{{ "js/freelancer.min.js" | relative_url }}"></script>

  </body>

</html>


