---
layout: default
---

  <div class="home">


    <section id="hero" class="portfolio success">
        <div class="brand">
            <img class="logo-hero" src="/img/logo.png" />
          <span class="brand-title-hero" data-text="purplecon">{{ site.con_heading }}</h2>
        </div>
        <div class="container">
        <hr class="star-primary ">
        <p>purplecon 2018 was a cool and trendy event for defenders and developers to share actionable security wisdom in a safe and inclusive environment. <a href="/diary">here's what happened.<a>
        </p>
      </div>
  </section>


    <section id="faq" class="portfolio success">
      <div class="container">
        <h2 class="text-center scrollspy" id="websites">FAQ</h2>
        <div class="grid items">

            <div class="portfolio-item">
                <h3 class="">What does purplecon want?</h3>
                <hr class="star-primary">
                <div class="caption">
                    <div class="caption-content">
                        <p>
                        {{ site.what_does_purplecon_want }}
                        </p>
                    </div>
                </div>
            </div>
            <div class=" portfolio-item">
                <h3 class="">Who is purplecon for?</h3>
                <hr class="star-primary">
                <div class="caption">
                    <div class="caption-content">
                        <p>
                        {{ site.who_is_it_for }}
                        </p>
                    </div>
                </div>
            </div>

            <div class=" portfolio-item">
                <h3 class="">Where/when is purplecon?</h3>
                <hr class="star-primary">
                <div class="caption">
                    <div class="caption-content">
                        <p>
                        {{ site.where_when }}
                        </p>
                    </div>
                </div>
            </div>

            <div class=" portfolio-item">
                <h3>Can purplecon become a Justice of the Peace in my jurisdiction?</h3>
                <hr class="star-primary">
                <div class="caption">
                    <div class="caption-content">
                        <p>
                        {{ site.can_purplecon_be_a_jp }}
                        </p>
                    </div>
                </div>
            </div>
            <div class=" portfolio-item">
                <h3>Is purplecon a gateway into <em>fully</em> uploading myself to the cloud?</h3>
                <hr class="star-primary">
                <div class="caption">
                    <div class="caption-content">
                        <p>
                        {{ site.is_purplecon_gateway_cloud }}
                        </p>
                    </div>
                </div>
            </div>

            <div class=" portfolio-item">
                <h3 class="">omg this sounds hype</h3>
                <hr class="star-primary">
                <div class="caption">
                    <div class="caption-content">
                        <p>
                        h*ck yeah
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </section>

    <section id="tickets" class="portfolio success">
      <div class="container">
          <h2 class="text-center">Tickets</h2>
        <hr class="star-primary ">
        <p>
        Tickets are all sold out!
        </p>
        <p>
        </p>

      </div>
  </section>

  <section id="merch" class="portfolio success">
      <div class="container">
          <h2 class="text-center">Merch</h2>
        <hr class="star-primary ">
        <p>
        Just in time for the cherry blossom season, we have various wearable purplecon merch available for purchase! You can just buy it online <a href="https://www.redbubble.com/people/purplecon/works/34296712-purplecon-tee-shirt-design?asc=u&modal=%2Fboom%2Fb%2FavailableProducts%2F34296712&p=womens-fitted-v-neck">here</a>.

        </p>
        <p>
        We're trying it out this way. We think that being able to order the shirts in your own time will save on queuing and handling of t-shirts on the day. If you'd like to wear your shirt to the con, then be sure to order it with plenty of time to spare!
        </p>
      </div>
  </section>

    <section id="conduct" class="portfolio success">
      <div class="container">
          <h2 class="text-center">Code of Conduct</h2>
        <hr class="star-primary ">
        <p>
        {{ site.conduct_description}}
        </p>
      </div>
  </section>
    <section id="contact" class="portfolio success">
      <div class="container">
          <h2 class="text-center">Contact us</h2>
        <hr class="star-primary ">
        <p>
        The purplecon digital online humans are
        <a href="//twitter.com/ryankurte">@ryankurte</a>,
        <a href="//twitter.com/__nolang">@__nolang</a>,
        <a href="//twitter.com/mangopdf">@mangopdf</a>, and
        <a href="//twitter.com/jsstott">@jsstott</a>.
        </p>
        <p>
        You can contact us at {{ site.email }}, on Twitter, or by yelling into any trombone.
        </p>
        <p>
        The venue, some costs, and limitless cosmic guidance were provided to us by the <a href="https://kiwicon.org">Kiwicon Crue</a> &lt;3
        </p>
      </div>
  </section>

    <footer class="text-center">
        <div class="footer-below">
            <p class="small">
            this hypertext fever dream made with &lt;3 in a juicebox-and-velcro environment by <a href="https://mango.pdf.zone">@mangopdf</a>
            </p>
      </div>
  </footer>
</div>




